# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
HTML5 and CSS/other exercises/.idea/inspectionProfiles/profiles_settings.xml
HTML5 and CSS/other exercises/.idea/inspectionProfiles/Project_Default.xml
*.iml
*.xml
HTML5 and CSS/SoftUniBlog/.idea/workspace.xml
*.xml
*.dll
*.nupkg
*.transform
*.ps1
*.psm1
*.xdt
*.targets
*.rtf
*.map
*.woff
*.svg
*.pdb
*.eot
*.ttf
*.psd1
*.props
*.cache
*.suo
ASP.NET MVC Project/MessageBoard/MessageBoard/bin/MessageBoard.dll.config
ASP.NET MVC Project/MessageBoard/MessageBoard/bin/roslyn/vbc.exe
ASP.NET MVC Project/MessageBoard/packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
ASP.NET MVC Project/MessageBoard/packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
ASP.NET MVC Project/MessageBoard/MessageBoard/obj/Debug/MessageBoard.csproj.FileListAbsolute.txt
ASP.NET MVC Project/MessageBoard/packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
ASP.NET MVC Project/MessageBoard/packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
ASP.NET MVC Project/MessageBoard/MessageBoard/Scripts/_references.js
ASP.NET MVC Project/MessageBoard/MessageBoard/bin/roslyn/csc.exe
ASP.NET MVC Project/MessageBoard/MessageBoard/Scripts/_references.js
ASP.NET MVC Project/MessageBoard/MessageBoard/Scripts/_references.js
ASP.NET MVC Project/MessageBoard/MessageBoard/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ASP.NET MVC Project/MessageBoard/MessageBoard/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ASP.NET MVC Project/MessageBoard/MessageBoard/bin/roslyn/VBCSCompiler.exe
ASP.NET MVC Project/MessageBoard/MessageBoard/bin/roslyn/VBCSCompiler.exe.config
ASP.NET MVC Project/MessageBoard/MessageBoard/Scripts/_references.js
ASP.NET MVC Project/MessageBoard/MessageBoard/Scripts/_references.js
ASP.NET MVC Project/MessageBoard/MessageBoard/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ASP.NET MVC Project/MessageBoard/MessageBoard/MessageBoard.csproj.user
ASP.NET MVC Project/MessageBoard/MessageBoard/MessageBoard.csproj
*.suo
ASP.NET MVC Project/MessageBoard/MessageBoard/Scripts/_references.js
*.suo
ASP.NET MVC Project/MessageBoard/.vs/MessageBoard/v14/.suo
ASP.NET MVC Project/MessageBoard/MessageBoard/MessageBoard.csproj
ASP.NET MVC Project/MessageBoard/MessageBoard/Controllers/CommentsController.cs
