@model MessageBoard.Models.Category

@{
    ViewBag.Title = "Details";
}

<div class="row h3 page-header">
    <a href="@Url.Action("Index", "Categories")" class="col-md-2">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <span class="col-md-10">@Html.DisplayFor(model => model.Name)</span>
</div>

<div>@Html.DisplayFor(model => model.Description)</div>

@if (User.IsInRole("Administrators"))
{
    <a href="@Url.Action("Edit", "Categories")">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
}
