@model MessageBoard.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<hr />
<div>@Html.DisplayFor(model => model.Description)</div>

@if (User.IsInRole("Administrators"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
