body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.read {
    overflow: hidden;
    font-size: 16px !important;
    transition: all 0.3s;
    margin-bottom: 10px;
}

.read-less {
    height: 90px !important;
}

.comment {
    background-color: rgba(221,221,221,0.3);
    border-radius: 10px;
    margin: 30px 10px;
    padding: 20px;
    text-align: justify;
    border-bottom: 1px dotted #ccc;
}

ul .comment a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.comment a:link {
    text-decoration: none;
}

.date {
    font-style: italic;
    font-size: 9pt;
}

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        max-height: none;
        text-decoration: none;
    }

    .sidebar-nav {
        width: 200px;
        margin: 0 auto;
    }

        .sidebar-nav .navbar ul {
            float: none;
            display: block;
            text-decoration: none;
            padding-left: 0;
        }

        .sidebar-nav .navbar li {
            float: none;
            display: block;
            padding-top: 5px;
            padding-bottom: 0;
            margin: 20px;
            font-weight: bold;
            font-size: 18px;
        }
}

/*Override bootstrap*/

a {
    color: #000000;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #325e84;
        text-decoration: none;
    }

.navbar-inverse {
    background-color: #325e84;
    border-color: #082e4e;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #efeaea;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            background-color: #4174a0;
            border-radius: 5px;
        }

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

.badge {
    background-color: #428bca;
}
